body {
  padding: 0.5em;
}

#options > div {
  padding: 0.25em;
}

#options label span {
  font-weight: bold;
  padding-right: 0.5em;
}

#controls {
  width:100%;
  text-align:right;
  font-size: 1.25em;
  margin-top: 1em;
  border-top:1px solid #ddd;
  padding-top: 1em;
}

#status {
  color: green;
}

label {
  cursor: pointer;
}

/* Special styles for options */

#video_file_css_selector {
  width: 100%;
}